<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>{% block title %}freelan{% endblock %}</title>

		<meta name="description" content="Une présentation sur les réseaux privés virtuels et sur freelan">
		<meta name="author" content="Julien Kauffmann">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/reveal.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/theme/night.css') }}" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="{{ url_for('static', filename='lib/css/zenburn.css') }}">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			if (window.location.search.match( /print-pdf/gi )) {
				document.write('<link rel="stylesheet" href="{{ url_for('static', filename='css/print/pdf.css') }}" type="text/css" media="print">');
			} else {
				document.write('<link rel="stylesheet" href="{{ url_for('static', filename='css/print/paper.css') }}" type="text/css" media="print">');
			}
		</script>

		<!--[if lt IE 9]>
		<script src="{{ url_for('static', filename='lib/js/html5shiv.js') }}"></script>
		<![endif]-->

		<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1><img class="logo" src="{{ url_for('static', filename='images/freelan.png') }}" alt="freelan logo" /></h1>
					<p class="discrete">Présentation par <strong>Julien Kauffmann</strong> / <a href="https://twitter.com/julienkauffmann"><img class="inline" src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter logo" /> @julienkauffmann</a></p>

					<aside class="notes">
						<p>Bonsoir à tous</p>
						<p>Ce soir on va parler de réseaux, de cryptographie, de sécurité informatique. En un mot, on va parler de <strong>réseaux VPN</strong>.</p>
						<p>Avant de passer au coeur du sujet, je vais prendre quelques instants pour me présenter.</p>
					</aside>
				</section>

				<section>
					<h1>Qui suis-je ?</h1>
					<p><strong>Julien Kauffmann</strong> - 28 ans</p>
					<p>Développeur chez <a href="http://www.filewave.com"><img class="inline filewave" src="{{ url_for('static', filename='images/filewave.png') }}" alt="FileWave" /></a></p>
					<p>Passionné par la sécurité informatique et les réseaux.</p>
					<p class="discrete"><a href="http://twitter.com/julienkauffmann"><img class="inline" src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter logo" /> @julienkauffmann</a> / <a href="http://www.github.com/ereOn"><img class="inline" src="{{ url_for('static', filename='images/github.png') }}" alt="Github logo" /> ereOn</a></p>

					<aside class="notes">
						<p>Je m'appelle Julien Kauffmann. J'ai 28 ans.</p>
						<p>Je suis développeur chez FileWave, en Suisse. Je travaille sur un logiciel de gestion de périphériques mobiles.</p>
						<p>J'ai fait mes études à Strasbourg, en tant qu'Ingénieur Système et Réseaux.</p>
						<p>Je suis passionné de sécurité informatique et de réseaux.</p>
						<p>Je ne suis pas un professionel de la sécurité informatique, mais c'est un domaine qui m'intéresse beaucoup et dans lequel j'essaye de rester à jour.</p>
					</aside>
				</section>

				<section>
					<h1>Plan de la soirée</h1>
					<ol>
						<li>Les réseaux <q>VPN</q>
							<ul>
								<li>Définitions</li>
								<li>Exemples</li>
								<li>Aspects réseaux</li>
								<li>Aspects de sécurité</li>
							</ul>
						</li>
						<li>Présentation de <strong>freelan</strong>
							<ul>
								<li>Origines &amp; motivations</li>
								<li>Concurrence</li>
								<li>Avantages d'un logiciel libre</li>
								<li>Le protocole FSCP</li>
								<li>Démonstration</li>
							</ul>
						</li>
					</ol>

					<aside class="notes">
						<p>Présentation du plan</p>
						<p>N'hésitez pas à m'interrompre si vous avez des remarques ou des questions.</p>
					</aside>
				</section>

				<section>
					<h1>Les réseaux VPN</h1>

					<aside class="notes">
						<p>Avant de commencer, je vais me permettre de faire un petit sondage:</p>
						<p><strong>Est-ce qu'il y a des gens ici qui ont très peu voire aucune expérience en réseaux VPN, voire en réseaux tout court ?</strong></p>
						<p><strong>Est-ce qu'au contraire il y a des gens ici qui ont déjà installé un VPN, ou qui sont carrément experts en sécurité ?</strong></p>
					</aside>
				</section>

				<section>
					<h1>Définitions</h1>
					<dl>
						<dt class="fragment">VPN</dt>
						<dd class="fragment">De l'anglais <q>Virtual Private Network</q> (<q>Réseau Privé Virtuel</q>).</dd>
						<dt class="fragment">Réseau</dt>
						<dd class="fragment"><q>Ensemble d'élements de même nature reliés les uns aux autres.</q></dd>
						<dt class="fragment">Privé</dt>
						<dd class="fragment"><q>Qui n'est pas ouvert au public.</q></dd>
						<dt class="fragment">Virtuel</dt>
						<dd class="fragment"><q>Désigne des éléments de simulation tridimensionnels.</q> <strong>(WTF ?!)</strong></dd>
					</dl>

					<aside class="notes">
						<p>La définition officielle de "Réseau" n'est pas forcément très claire: on peut aussi définir un réseau comme étant un <strong>ensemble d'ordinateurs reliés qui peuvent échanger des informations</strong>.</p>
						<p>Pour "Privé", cela signifie grosso-modo qu'<strong>un nombre restreint et connu d'ordinateurs font partie du réseau</strong>.</p>
						<p>En ce qui concerne "Virtuel", la définition officielle est... amusante. Dans notre cas, "Virtuel" désigne plutôt <strong>un réseau "logiciel" qui n'a pas de réalité physique (par opposition à un réseau fait de câbles, ou de Wifi)</strong>.</p>
						<p>Un VPN est donc un moyen de connecter plusieurs ordinateurs de façon sécurisée, de façon logicielle, au travers d'un autre réseau physique.</p>
					</aside>
				</section>

				<section>
					<h1>Exemples</h1>

					<aside class="notes">
						<p>Les définitions, c'est bien beau, mais quelques exemples ça fait pas de mal.</p>
						<p>Un réseau VPN ça peut être utilisé pour pas mal de choses. Tous les logiciels ne permettent pas de tout faire: certains sont spécialisés en anonymisation pour d'autres services, d'autres permettent de lier des réseaux entre eux, etc.</p>
						<p>Ce soir, on va distinguer trois grands cas typiques d'utilisation des réseaux VPN, que vous avez probablement déjà rencontrés.</p>
						<p>Pour chaque exemple, nous verrons ses points forts et ses faiblesses.</p>
					</aside>
				</section>

				<section data-background="{{ url_for('static', filename='images/anonymous.png') }}" data-background-size="500px">
					<section data-background="{{ url_for('static', filename='images/anonymous.png') }}" data-background-size="500px">
						<h1>Les VPN anonymisants</h1>
						<p>Le but: <strong>masquer son adresse IP publique sur l'Internet</strong>.</p>

						<aside class="notes">
							<p>Schéma VPN le plus populaire, en particulier avec les lois comme HADOPI ou à cause des gouvernements répressifs (Chine, etc.).</p>
							<p>Souvent considéré à tort comme la seule définition pour le terme "VPN".</p>
						</aside>
					</section>

					<section data-background="{{ url_for('static', filename='images/anonymous.png') }}" data-background-size="500px">
						<img src="{{ url_for('static', filename='images/anonymous-vpn.png') }}" alt="Anonymous VPN schematics" />

						<aside class="notes">
							<p>Prenons pour commencer le cas classique: nous avons ici une personne, que l'on nommera au hasard "Jérôme", qui possède une connexion à l'Internet tout à fait classique: un ordinateur portable, un routeur Wifi.</p>
							<p>Jérôme est un peu paranoïaque, et ne souhaite pas que le gouvernement, ou même ses amis sachent ce à quoi il passe ses soirées sur l'Internet.</p>
							<p>Il se connecte donc de façon sécurisée à un serveur VPN anonymisant, qui va à son tour se connecter au serveur Web. Si l'administrateur du serveur Web décide de regarder de plus près d'où vient la connexion, il ne verra que l'adresse IP du serveur VPN, et pas celle de Jérôme.</p>
							<p>Le serveur VPN peut se trouver à l'étranger ou en dehors d'une zone "surveillée" (Chine par exemple).</p>
						</aside>
					</section>

					<section data-background="{{ url_for('static', filename='images/anonymous.png') }}" data-background-size="500px">
						<h1>Les VPN anonymisants</h1>
						<h2>Pourquoi ?</h2>

						<ul>
							<li>Accéder à l'Internet depuis un réseau "douteux" (Au Mac Do, à la gare, etc.)</li>
							<li>Masquer son identité et son origine sur l'Internet.</li>
							<li>Échapper à des restrictions sur sa connexion Internet (filtrage, surveillance, quotas).</li>
							<li>Effectuer des tests de connexion extérieure.</li>
						</ul>

						<aside class="notes">
							<p>Permet la liberté d'expression sur l'Internet: plus de risques de représailles.</p>
							<p>Permet d'accéder à du contenu restreint (séries US, résultats d'élections).</p>
							<p>Masque son activité de façon plus fiable et plus complète: toutes les requêtes sont filtrées (y compris les requêtes DNS), pas seulement le contenu.</p>
							<p>Permet également de tester comment se comporte un service depuis l'extérieur (petite entreprise avec une seule connexion Internet qui souhaite faire des tests de pénétration).</p>
						</aside>
					</section>

					<section data-background="{{ url_for('static', filename='images/anonymous.png') }}" data-background-size="500px">
						<h1>Les VPN anonymisants</h1>
						<h2>Quels inconvénients ?</h2>

						<ul>
							<li>Nécessité d'un serveur externe, souvent à l'étranger.</li>
							<li>Quelle confiance accorder à ce serveur ?</li>
							<li>Le serveur est un SPOF: tout le service repose sur lui.</li>
						</ul>

						<aside class="notes">
							<p>Cette architecture réseau repose sur le fait d'avoir accès à un serveur à l'étranger.</p>
							<p>Ce serveur est-il de confiance ? Toujours ? Est-il sécurisé ? <strong>Risque de voir tout son trafic analysé si le serveur est compromis !</strong></p>
							<p>Que se passe-t-il si le serveur tombe ?</p>
						</aside>
					</section>
				</section>

				<section data-background="{{ url_for('static', filename='images/enterprise.png') }}" data-background-size="500px">
					<section data-background="{{ url_for('static', filename='images/enterprise.png') }}" data-background-size="500px">
						<h1>Les VPN d'entreprise</h1>
						<p>Le but: <strong>permettre l'accès à des resources privées depuis n'importe quelle connexion à l'Internet</strong>.</p>

						<aside class="notes">
							<p>Schéma VPN probablement le plus répandu, particulièrement dans les grandes entreprises.</p>
						</aside>
					</section>

					<section data-background="{{ url_for('static', filename='images/enterprise.png') }}" data-background-size="500px">
						<img src="{{ url_for('static', filename='images/enterprise-vpn.png') }}" alt="Enterprise VPN schematics" />

						<aside class="notes">
							<p>Maxime travaille pour une grande entreprise, au hasard, bancaire. Il doit être amené régulièrement à travailler de chez lui pour des tâches de surveillance et d'intervention sur différents services de la banque.</p>
							<p>Les données sur lesquelles Maxime travaille sont confidentielles. Pour autant, lorsqu'il doit travailler toute la nuit durant, il préfère le faire de chez lui.</p>
							<p>Le VPN mis en place par son entreprise lui permet de se connecter au réseau de son entreprise, de la même façon que si il était sur place, à son bureau.</p>
							<p>Il a accès aux mêmes services internes, même à son imprimante, sans quitter son domicile.</p>
						</aside>
					</section>

					<section data-background="{{ url_for('static', filename='images/enterprise.png') }}" data-background-size="500px">
						<h1>Les VPN d'entreprise</h1>
						<h2>Pourquoi ?</h2>

						<ul>
							<li>Évite aux collaborateurs de devoir se déplacer pour accéder aux resources de l'entreprise.</li>
							<li>Permet une abstraction totale des périphériques intermédiaires: les concepteurs des services internes peuvent ne se préoccuper que des clients locaux.</li>
							<li>Facilite l'administration réseau: une seule règle firewall.</li>
							<li>Un niveau de sécurité supplémentaire.</li>
							<li>Possibilité pour l'entreprise de fournir un service anonymisant.</li>
						</ul>

						<aside class="notes">
							<p>Commodité.</p>
							<p>Les services internes peuvent ne gérer que les clients du LAN: le VPN se charge de fournir l'abstraction.</p>
							<p>Règles de firewall simplifiées: un seul point d'entrée.</p>
							<p><strong>On peut toujours utiliser SSL au sein du tunnel VPN pour avoir une sécurité supplémentaire.</strong></p>
						</aside>
					</section>

					<section data-background="{{ url_for('static', filename='images/enterprise.png') }}" data-background-size="500px">
						<h1>Les VPN d'entreprise</h1>
						<h2>Quels inconvénients ?</h2>

						<ul>
							<li>Moins d'isolation: que se passe-t-il si le réseau personnel est vérolé ?</li>
							<li>Tout ou rien: si la connexion VPN ne peut pas s'établir, aucune connectivité.</li>
						</ul>

						<aside class="notes">
							<p>En cas d'infection du réseau personnel, risque de contamination de l'entreprise.</p>
							<p>Si la connexion VPN échoue, une connexion HTTPS aurait sans doute eu plus de chances de passer.</p>
						</aside>
					</section>
				</section>

				<section data-background="{{ url_for('static', filename='images/peer-to-peer.png') }}" data-background-size="500px">
					<section data-background="{{ url_for('static', filename='images/peer-to-peer.png') }}" data-background-size="500px">
						<h1>Les VPN pair-à-pair</h1>
						<p>Le but: <strong>établir un espace de communication et de partage entre pairs</strong>.</p>

						<aside class="notes">
							<p>Créer un réseau privé dans lequel tous les participants sont égaux et peuvent échanger librement.</p>
						</aside>
					</section>

					<section data-background="{{ url_for('static', filename='images/peer-to-peer.png') }}" data-background-size="500px">
						<img src="{{ url_for('static', filename='images/peer-to-peer-vpn.png') }}" alt="Peer-to-peer VPN schematics" />

						<aside class="notes">
							<p>Nous avons ici 4 intervenants: Alice, Bob, Carole et Didier.</p>
							<p>Bob et Didier font partie du même réseau local.</p>
							<p>Alice, Bob et Carole ont établi un réseau VPN privé entre eux: ils sont chacun connectés chez les deux autres et se sont attribués des adresses IP unique au sein du réseau privé.</p>
							<p>Didier n'a aucune possibilité de voir ce qui se passe dans le réseau privé car il n'en fait pas partie.</p>
						</aside>
					</section>

					<section data-background="{{ url_for('static', filename='images/peer-to-peer.png') }}" data-background-size="500px">
						<h1>Les VPN pair-à-pair</h1>
						<h2>Pourquoi ?</h2>

						<ul>
							<li>Égalité et inocuité.</li>
							<li>Partager en tout confidentialité des documents, des films, des musiques<sup>*</sup>.</li>
							<li>Permet de jouer à de vieux jeux ne fonctionnant qu'en réseau local au travers de l'internet.</li>
							<li>Pour de meilleures performances.</li>
						</ul>

						<p><small>[*]: Libres de droit, évidemment.</small></p>

						<aside class="notes">
							<p>Inocuité: qui ne peut pas nuir.</p>
							<p>Si deux membres veulent communiquer, personne ne peut les empêcher de le faire, y compris un autre membre.</p>
							<p>Performances: les données transitent directement d'un hôte à l'autre: pas de relai.</p>
						</aside>
					</section>

					<section data-background="{{ url_for('static', filename='images/peer-to-peer.png') }}" data-background-size="500px">
						<h1>Les VPN pair-à-pair</h1>
						<h2>Quels inconvénients ?</h2>

						<ul>
							<li>Difficile à administrer.</li>
							<li>Qui fait partie du réseau ?</li>
							<li>Peu d'implémentations existantes !</li>
						</ul>

						<aside class="notes">
							<p>Si tout le monde est égal, qui décide de l'allocation des adresses IP ?</p>
							<p>Pas d'autorité: comment déterminer qui fait partie du réseau et qui n'en fait pas partie ?</p>
							<p>Peu de solutions VPN supportent ce schéma.</p>
						</aside>
					</section>
				</section>

				<section>
					<section>
						<h1>Aspects réseaux</h1>
					</section>
				</section>

				<section>
					<section>
						<h1>Aspects de sécurité</h1>
					</section>
				</section>
			</div>

		</div>

		<script src="{{ url_for('static', filename='lib/js/head.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/reveal.min.js') }}"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: '{{ url_for('static', filename='lib/js/classList.js') }}', condition: function() { return !document.body.classList; } },
					{ src: '{{ url_for('static', filename='plugin/markdown/marked.js') }}', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{{ url_for('static', filename='plugin/markdown/markdown.js') }}', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{{ url_for('static', filename='plugin/highlight/highlight.js') }}', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '{{ url_for('static', filename='plugin/zoom-js/zoom.js') }}', async: true, condition: function() { return !!document.body.classList; } },
					{ src: '{{ url_for('static', filename='plugin/notes/notes.js') }}', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
